<div class='col-md-3 col-th-sm-6'>
	<div class='my-block'>
		<div class="thumbnail-preview">
			<div class='thumbnail' id='thumbnail-##ID##'>			
				<span class='glyphicon glyphicon-plus my-glyphicon'></span>				
			</div>	
			
			<div class='gallery' id='gallery-##ID##'>
				<span class='gallery-control left'>
					<span class='glyphicon glyphicon-chevron-left'></span>
				</span>
				 ##GALERIES##
				 <span class='gallery-control right'>
					<span class='glyphicon glyphicon-chevron-right '></span>
				</span>
			</div>
		</div>
		<div class="my-block-info">
			<h2><a href='#'>##ID## ##SHORTNAME##</a></h2>
			<p>##LONGNAME##</p>
		</div>
		<div class="my-block-bottom">
			<button type='button' content-id='##ID##' class='btn btn-success add-btn pull-left' data-toggle='modal' data-target='#myModal2'>Add Image</button>
			<a href="item.php?id=##ID##" type='button' content-id='##ID##' class='btn btn-primary dtl-btn pull-right' >Details</a>
		</div>
	</div>
</div>

		
